.banner {
    width: 100%;
    height: 56vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.banner .textWrap {
    color: white;
    z-index: 3;
}

/* 그라데이션 효과 */
.banner:before {
    width: 100%;
    height: 56vh;
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
}